@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


.PokeDescription__container{
      width: 100%;

      margin-top: 10px;
      border: inset 3px #9aa28b;
}

.PokeDescription__container p{
      font-family: 'Cutive Mono', monospace;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 5px;
      text-align: center;
}