.errorContainer{
      background-color: yellow;

      color: red;

      border-radius: 500px;

      padding: 10px;    
      margin-top: 10%;
}

.errorContainer p{
      text-align: center;
      font-size: 17px;
      font-weight: bold;
}

.hidden{
     display: none;
}