@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.title__container{
      margin-bottom: 10px;
}
.title__container h1{
      font-family: 'DM Serif Display', serif;
      margin: 0px;
}

.title__container p{
      margin: 0;
}