.body {
      display: flex;

      margin: auto;

      justify-content: center;
      align-items: center;

      height: 100vh;
}

.card__container {
      display: flex;
      width: 500px;
      background-color: bisque;
      padding: 20px;
}