.body {
      display: flex;

      margin: auto;

      justify-content: center;
      align-items: center;

      height: 100vh;
}

.card__container {
      display: flex;

      justify-content: space-around;
      
      width: 500px;
      padding: 10px;
      background-color: bisque;
}