@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.name__container{
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      
}

.name__container h3{
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: bolder;
}