.pokeImg__container {
      display: flex;
      justify-content: center;
      width: 100%;

      background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
      border: inset 3px #9aa28b;
}

.pokeImg__container img {
      width: 150px;
      height: 150px;
}